$use-block-box:true;
$wrap-bg: #f1f1f1;
$body-bg: #fff;
$use-box-shadow:false;
$use-round-corner:false;
$brand-primary: #298ADA;
$link-color: #333;

$footer-text-color: #888;
$footer-social-btn-color: #eee;

$navbar-font-weight: 400;