/build
*.lock
*.log
/static/jscript/kendo/components
/app/config/*.conf.php
/app/vendor/
/app/tools/vendor/
/app/tests/build
/app/temp/*
/app/package/*.json
/static/node_modules
/static/jquery-ui
/public/*/*
/doc/