.header-login-form .form-group>label{
  display: none;
}
#core_home_index #main{
  padding: 32px 0;
  background-image: url("#{$img-path}/jubbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#core_home_index #footer{
  margin-top: 0;
}
.site-logo-holder{
  padding: 0;
}

._block.user-smallregisterblock .block-title{
    text-transform: uppercase;
    text-align: center;
}
._block.user-smallregisterblock .help-block{
  text-align: center;
}