$link-color: #006fa6;
$brand-primary: #006fa6;

$header-topbar-base-height: 42px;
$header-topbar-large-height: 76px;

$header-topbar-logo-color: #fff;
$header-topbar-link-color: #ddd;
$header-topbar-link-hover-color: #fff;
$header-topbar-bg: #333;
$header-topbar-border-bottom: none;
$footer-link-hover-color: #fff;
$footer-link-color: #aaa;
