$use-block-box:true;
$use-box-shadow:false;
$use-round-corner:false;

$body-bg: #fff;
$wrap-bg: #333;

$brand-primary: #298ADA;
$link-color: #333;

$footer-wrap-bg: #222;
$footer-text-color: #888;
$footer-social-btn-color: #eee;

$navbar-font-weight: 400;

$navbar-color-scheme: "inverse";

$header-topbar-bg: #222;
$header-topbar-border-bottom: none;
$header-topbar-link-hover-color: #fff;

$header-navbar-bg: #111;
$header-navbar-border-bottom: none;

