$link-color: #333;

$header-topbar-base-height: 44px;
$header-topbar-large-height: 70px;
$header-navbar-bg: #337ab7;


$navbar-height: 50px;

$navbar-default-link-active-color: #fff;
$navbar-color-mode: "inverse";
$navbar-inverse-color: #ccc;
$navbar-inverse-link-color: #ccc;
$navbar-inverse-link-hover-bg: darken($header-navbar-bg, 5%);
$navbar-inverse-link-active-bg: darken($header-navbar-bg, 15%);


$navbar-font-weight: 400;
$navbar-text-transform: none;

$header-navbar-bg: $navbar-inverse-color;