.block{
  @if $use-round-corner{
    @include border-radius($border-radius-base);
  }
}
.block-header {
  position: relative;
}

.block-header {
  @if $use-block-box{
    margin-bottom: $padding-base-vertical;
  } @else{
    padding: $padding-small-vertical $padding-large-horizontal;

  }

  border-bottom: $block-border-bottom;
  position: relative;
}

.block-title {
  font-size: $block-title-font-size;
  text-transform: $block-title-transform;
  font-weight: $block-title-font-weight;
  position: relative;
}
