#footer {
  font-weight: 300;
  margin-top: 2*$padding-base-horizontal;

  h1, h2, h3, h4, h5, h6 {
    color: $footer-heading-color;
    text-transform: $footer-heading-transform;
    font-weight: $footer-heading-font-weight;
    font-family: 'Raleway', 'Open Sans', Arial, Helvetica, sans-serif;
  }
  h4 {
    font-size: $footer-heading-font-size;
    margin-bottom: 25px;
  }

  color: $footer-text-color;
  background-color: $footer-wrap-bg;

  .board {
    padding-top: 3*$padding-base-horizontal;
    padding-bottom: 3*$padding-base-horizontal;
  }
  .copyright {
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 25px 0;
    font-size: 13px;
    display: block;
  }
  address {
    background: url("#{$img-path}/world-map.png") center no-repeat;
    li {
      margin-bottom: $padding-large-horizontal;

    }
  }
  .explorer {
    li {
      padding-bottom: $padding-base-vertical;
    }
    li a:before {
      content: "\f3d1";
      display: inline-block;
      padding-right: $padding-base-horizontal;
      font-family: "Ionicons";
    }
  }
  a{
    color: $footer-text-color;
    &:hover, &:active, &:focus{
      color: $footer-link-hover-color;
      text-decoration: none;
    }
  }

  .btn-social{
    color: $footer-social-btn-color;
  }

}
