
#header .icon-lg {
  font-size: 19px;
}

#header {
  .adminbar {
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

@media (min-width: 768px) {
  .navbar-sendber {
    > li.beeber {
      > a {
        padding-left: $padding-xs-horizontal;
        padding-right: $padding-xs-horizontal;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-sendber {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  #header .dropdown-menu li.tail {
    display: none;
  }
}

#header .dark-header {
  .navbar-top {
    background-color: #000;
  }
  .navbar-sticky {
    background-color: $navbar-inverse-bg;
  }
}

.navbar-nav {
  > li > a {
    position: relative;
  }
  > li > a > sup {
    display: inline-block;
    background: rgba(200, 0, 0, 0.9);
    position: absolute;
    text-align: center;
    vertical-align: middle;

    //        style
    font-size: 11px;
    line-height: 11px;
    border-radius: 10px;
    min-width: 16px;
    padding: 3px;
    top: 2px;
    right: 2px;
  }
  > li.narrow > a {
    padding: $padding-large-horizontal $padding-xs-horizontal;
  }
  > li.beeber-icon > a {
    font-size: 19px;
  }
  > li > a.viewer img {
    width: 19px;
    height: 19px;
  }
}
