.header-topbar {
  background-color: $header-topbar-bg;
  border-bottom: 1px solid $header-topbar-border-color;
  padding: ($header-topbar-height - $input-height-small)/2 0;
}
.header-topbar .viewer a{
  font-weight: 500;
}
.header-topbar .viewer img{
  width: ($input-height-small - 4);
  height: ($input-height-small - 4);
  border: 1px solid $border-color;
  @if $use-block-box{
    @include border-radius($border-radius-small);
  }
}
.header-topbar .form-search{
  .form-group{
    margin: 0;
  }
}
.header-topbar{
  a{
    color: $header-topbar-link-color;
    &:hover, &:focus, &:active{
      color: $header-topbar-link-hover-color;
      text-decoration: none;
    }
  }

}
.header-topbar .list-flex{
  margin: 0;
  padding: 0;
  list-style: none none outside;
  .badge {
    font-weight: normal;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  > li {
    display: block;
    float: left;
    position: relative;
    > a {
      line-height: $input-height-small;
      font-size: 14px;
      padding: 0 7px;
      display: block;
      text-align: center;
      > i {
        margin-right: 5px;
      }
    }
  }
  &.right {
    > li {
      float: right;
    }
  }
}