.members {
  height: $header-topbar-base-height;
}

.header-container .header-topbar{
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  border-bottom: 1px solid darken($header-topbar-bg, 10%);
}
.members .header-topbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.members .header-fix-top{
  height: $header-topbar-base-height + 2;
}

.options-dialog.for-header {
  position: fixed;
  z-index: 2001;
  margin-top: -5px;
  top: 40px !important;
}


#core_home_index #footer{
  margin-top: 0;
}

#core_home_index #main{
  padding: 32px 0;
  background-image: url("../images/jubbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}