$use-block-box: true;
$use-round-corner: true;

$wrap-bg: #e9eaed;
$body-bg: #fff;

/**
YouTube
$brand-primary: #DD4B39; //#3b5998;
$header-topbar-bg: #DD4B39; //#3a5795;
$link-color: #333;
**/

// Facebook
$brand-primary: #3b5998;
$header-topbar-bg: #3a5795;

$header-topbar-link-color: #e8e8e8;;
$header-topbar-link-hover-color: #fff;

$header-logo-color: #fff;
$header-topbar-height: 42px;

$footer-text-color: #aaa;
$footer-link-hover-color: #fff;