$use-round-corner: true;
$use-box-shadow: true;
$use-block-box: true;
$wrap-bg: #f1f1f1;

$container-max-width: 960px;
$footer-text-color: #aaa;
$footer-link-hover-color: #fff;

$navbar-text-transform: none;