$use-block-box: true;
$use-round-corner: true;
$navbar-font-weight: 400;


$wrap-bg: #333;
$body-bg: #999;
$border-color: #666;

$header-topbar-bg: #333;
$header-topbar-border-color: transparent;
$header-topbar-link-color: #aaa;
$header-topbar-link-hover-color: #fff;

$header-navbar-bg: #111;
$header-navbar-border-color: transparent;

$navbar-color-scheme: "default";

