$use-round-corner: true !default;
$use-box-shadow: true !default;
$use-block-box: true !default;
$color-mode: "light";

$wrap-bg: $body-bg !default;
$grid-gutter-sm: 2px !default;
$img-path: "../../default/images" !default;
$brand-note: #9197a3 !default;
$container-max-width: 1190px !default;

$border-color-light: #f1f1f1 !default;
$block-border-bottom: none !default;
$block-title-font-size: $font-size-h4 !default;
$block-title-font-weight: 400 !default;
$block-title-transform: none !default;

$blue: #3a5795;
$topbar-logged-height: 52px !default;
$topbar-bg: $brand-primary !default;
$topbar-border-color: grayscale($topbar-bg) !default;
$zindex-topbar: 999 !default;

$border-color: #eee !default;

$topbar-guest-height: 70px !default;

$field-avatar-size: 100px !default;
// define avatar size

$avatar-xs: 24px !default;
$avatar-sm: 32px !default;
$avatar-md: 50px !default;
$avatar-lg: 100px !default;
$avatar-border-width: 1px !default;

$avatar-outer-border: 1px solid $border-color !default;
$avatar-inner-border: none !default;

$btn-social-size: 36px !default;
$btn-social-icon: 20px !default;
$use-circle-btn-social: true !default;

$header-topbar-large-height: 96px !default;
$header-topbar-base-height: 40px !default;

$header-topbar-bg: #fff !default;
$header-topbar-border-bottom: none !default;
$header-topbar-link-color: #777 !default;
$header-topbar-link-hover-color: #333 !default;
$header-topbar-logo-color: $header-topbar-link-hover-color !default;

$header-navbar-bg: $navbar-default-bg !default;
$header-navbar-shadow: none !default;
$header-navbar-border-bottom: none !default;

$footer-text-color: $header-navbar-bg !default;
$footer-link-color: #aaa !default;
$footer-link-hover-color: #fff !default;
$footer-wrap-bg: #313131 !default;

$footer-heading-font-size: $font-size-h4 !default;
$footer-heading-font-weight: 400 !default;
$footer-heading-transform: none !default;
$footer-heading-color: #aaa !default;
$footer-heading-transform: none !default;

$footer-social-btn-color: $footer-text-color !default;
$header-logo-color: $header-topbar-link-color !default;
$header-logo-large-font-size: $font-size-h1 !default;

$header-logo-base-font-size: 24px !default;
$header-logo-font-weight: 400 !default;
$header-log-text-transform: none !default;
$options-cover-height: 150px !default;
$options-profile-height: 110px !default;
$input-shadow-flag: true !default;
$input-focus-shadow-flag: true !default;
$input-border-radius-flag: true !default;
$btn-border-radius-flag: true !default;