$header-topbar-bg: #313131;
$navbar-font-weight: 400;
$brand-primary: #296ad4;
$header-topbar-link-color: #999;
$header-topbar-link-hover-color: #fff;

$footer-text-color: #999;
$footer-link-hover-color: #fff;

$footer-heading-color: #ccc;
$footer-heading-transform: none;
$footer-heading-font-weight: 400;
$footer-heading-transform: uppercase;
$footer-social-btn-color: #ddd;

