.fc-metion-ow{
  background: $input-bg;
}

.fc-ow {
  border: 1px solid #DDDDDD;
  @if $use-box-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  @if $use-round-corner {
    border-radius: 4px;
  }
}

.fc-header-ow {
  padding: 8px 4px;
  background: #f8f8f8;
  border-bottom: 1px solid #DDDDDD;
  position: relative;
  .ajax-indicator {
    right: 10px;
    top: 10px;
  }
}

.fc-body-ow {
  padding: 4px 0;
  background: $input-bg;
}

.fc-footer-ow {
  background: #f8f8f8;
  border-top: 1px solid #DDDDDD;
}

.fc-header-tabs {
  margin: 0;
  padding: 0;
}

.fc-header-tabs a {
  font-weight: bold;
  padding: 4px 8px;
  display: inline-block;
  text-decoration: none;
}

.fc-footer-tools a {
  display: inline-block;
  padding: 7px 10px 8px;
  cursor: pointer;
}

.fc-footer-tools a {
  font-size: 22px;
  color: #888;
}

.fc-footer-tools a:hover {
  color: #444;
  background: #e8e8e8;
}

.fc-footer-tools-right {
  padding: 8px;
}

.fc-att-row {

}

.fc-att-people {
  border-top: 1px dashed #DDDDDD;
}

.fc-att-people-input {
  border: none;
  outline: none;
  max-width: 100%;
  padding: 4px 12px;
  display: inline-block;
  width: 160px;
}

.fc-att-location {
  border-top: 1px dashed #DDDDDD;
  position: relative;
}

.fc-att-location-ow .token-ow div {
  display: block;
  background-color: #eeeeee;
}

.fc-att-location-ow .cleanup {
  position: absolute;
  right: 12px;
  top: 5px;
  cursor: pointer;
}

.fc-att-location-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 4px 12px;
}

.fc-att-location-input.disabled {
  background-color: #EEE;
}

.select-token {
  display: inline-block;
  padding: 2px 10px;
  margin: 2px;
  border: 1px solid #DDDDDD;
  background-color: #DDD;
  border-radius: 3px;
  font-size: 12px;
}

/*end composer defined*/

.share-content-ow {
  margin-bottom: $padding-base-horizontal;
}

/*feed stream engagment*/
.fs-ow {


}

.comment-options{
  position: absolute;
  right: ($padding-base-horizontal/-1);
  top:0;
}

.icon-privacy-type {
  &:before {
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-light;
  }
  &.privacy-public:before {
    content: "\f4d3"
  }
  &.privacy-custom:before {
    content: "\f480"
  }
  &.privacy-private:before {
    content: "\f200";
  }
  &.privacy-friend:before {
    content: "\f212"
  }
  &.privacy-friend2:before {
    content: "\f47c"
  }
}

.shared-this-ow {
  .fs-att-ow {
    display: none;
  }
}

.poster-list {
  .poster-item {
    &+.poster-item{
      border-top: 1px solid $border-color;
      margin-top: $padding-base-horizontal;
      padding-top: $padding-base-horizontal;
    }

    @include clearAfter();
    .poster-photo {
      display: block;
      float: left;
      img {
        display: block;
        width: 50px;
        height: 50px;
      }
    }
    .poster-info {
      display: block;
      overflow: hidden;
      padding-left: 10px;
    }
    .poster-title {
      display: block;
      padding-top: 15px;
    }
  }
}