
.composer-preview-link {
  .attachment-wrap{
    display: none;
  }
  &.as-video {
    .attachment-wrap._video {
      display: block;
    }
  }

  &.as-link {
    .attachment-wrap._link {
      display: block;
    }
  }

  .video-att-ow {
    display: none;
  }

  .cmd-list {
    text-align: right;
    margin-top: 10px;
    a {
      cursor: pointer;
      & + a {
        margin-left: 10px;
      }
    }
  }
}
.link-att-ow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 2px rgba(0, 0, 0, .1);
  &:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 3px rgba(0, 0, 0, .15)
  }
  .item-img {
    position: relative;
    float:left;
    width: 220px;
    padding:1px;
    .preview{
      padding-bottom: 75%;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $body-bg;
      background-position: center;
    }
    .ion-close {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .item-info{
    overflow: hidden;
  }
  .item-title {
    padding: 10px 10px 0 10px;
    @include textTruncate(1,$font-size-h4, $line-height-base);
  }
  .item-desc {
    padding: 10px 10px 0 10px;
    @include textTruncate(3,$font-size-base, $line-height-base);
  }
  .item-host {
    padding: 10px 10px 10px 10px;
    text-transform: lowercase;
    color: $text-muted;
  }
  &:after {
    clear: both;
    content: " ";
    display: block;
  }

  &.small {
    .item-info {
      overflow: hidden;
    }
    .item-img {
      float: left;
      width: 160px;
      height: 160px;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $dropdown-header-bg;
      img {
        display: none;
      }
    }
  }
}
.feed-att-ow {
  .composer-preview-link{
    margin: 10px;
  }
}
.cmt-att-ow {
  .composer-preview-link{
    margin: 10px 0;
  }
}